:root {
    --dark-text: #001749;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Open Sans'), url('/static/fonts/OpenSans-Regular.ttf') format('ttf');
}

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    min-width: 22.5rem;
    overflow-x: hidden;
}

.right {
    float: right;
}

.inline {
    display: inline !important;
}

header {
    background-image: url('/static/images/stevens-pass-pano.jpg');
    background-size: cover;
    background-position: center 55%;
    height: 17vh;
    min-height: 10rem;
    width: 100vw;
}

#profile {
    display: block;
    background-image: url('/static/images/finn-informal-profile.jpg');
    background-size: cover;
    width: 15rem;
    height: 15rem;
    border: 3px solid white;
    border-radius: 50%;
    margin: -7.5rem auto 0 auto;
}

#profile.small {
    width: 8rem;
    height: 8rem;
    margin-top: -7rem;
}

#landing {
    text-align: center;
}

#name {
    font-weight: 400;
    color: var(--dark-text);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#name span {
    font-weight: 600;
    font-size: 105%;
}

#specialties {
    font-weight: 600;
    margin-top: 0.3rem;
    color: var(--dark-text);
}

#links {
    display: flex;
    justify-content: center;
    margin-left: -1.5rem;
    margin-top: 1.5rem;
}

.link {
    position: relative;
    text-decoration: none;
    margin-left: 1.5rem;
}

.link h5 {
    margin: 0;
    color: var(--dark-text);
}

.link div {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.3rem;
}

.link div img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 3rem;
    height: 3rem;
    transition: opacity 0.5s ease-in-out;
}

.link div img:last-of-type:hover {
    opacity: 0;
}

.github {
    background-image: url('/static/images/github-default.png');
    background-size: cover;
}

#project-page {
    min-width: 10rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}

#project-page .centered-block {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

#project-page .centered-block img {
    margin: 0 0.5rem;
}

#project-page img, #project-page video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#project-page img + em {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 85%;
}

#project-page h1,
#project-page h2,
#project-page h3,
#project-page h4,
#project-page h5,
#project-page h6 {
    clear: both;
}

#project-page blockquote {
    background-color: #f4f4f4;
    border-left: 0.25rem solid #ccc;
    padding: 0 1.5rem;
    margin: 0;
}

#laser-gun {
    max-height: 60vh;
}

#projects-label {
    margin-bottom: 0;
    color: var(--dark-text);
}

#project-filters {
    margin: 0.5rem;
}

#project-filters input {
    margin-left: 0.75rem;
}

/* TODO: reimplement with grid, and different amount of columns based on screen size rules */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    max-width: 90rem;
    margin: 0 auto;
}

@media screen and (max-width: 52.5rem) {
    #projects {
        flex-direction: column;
        align-items: stretch;
    }

    .project {
        min-width: 10rem !important;
        max-width: none !important;
    }

    #project-page .right {
        float: none !important;
    }
}

@media screen and (min-width: 52.5rem) {
    #project-page .right {
        margin-left: 1rem;
    }

    #first-prototype-parts {
        max-width: 40vw !important;
    }

    #second-prototype-parts {
        max-width: 40vw !important;
    }
}

.project {
    position: relative;
    flex: 1 1 20%;
    min-width: 23rem;
    max-width: 30rem;
    padding: 0.7rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding-bottom: 2.4rem;
}

/* attribution: https://stackoverflow.com/a/42767892/1247781 */
.project-spacer {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: transparent;
    order: 1000;
}

.project h3 {
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
    padding-bottom: 1px;
    border-bottom: 1px #ccc solid;
}

.project p {
    margin: 0.5rem 0 0.5rem 0;
}

.project > :not(h3) {
    font-size: 90%;
}

.tags {
    margin-left: -0.2rem;
}

.tag {
    font-size: 80% !important;
    background-color: #b2dbf7;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.2rem;
    display: inline-block;
    margin: 0.2rem 0.18rem;
}

.bottom {
    bottom: 0.5rem;
    position: absolute;
    width: calc(100% - 1.4rem);
}

.bottom span {
    bottom: 0;
    position: absolute;
    font-size: 85%;
}

.project-icon {
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
    margin-left: 0.4rem;
}

.project-github {
    background-image: url('/static/images/github-default.svg');
}

.project-external-link {
    background-image: url('/static/images/external-link.svg');
}

footer {
    text-align: center;
    font-size: 70%;
    color: #666;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

footer > div:not(:first-child) {
    margin-top: 0.5rem;
}