@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Open Sans'), url('/static/fonts/OpenSans-Regular.ttf') format('ttf');
}

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#banner {
    background-image: url('/static/images/stevens-pass-pano.jpg');
    background-size: cover;
    background-position: center 55%;
    height: 17vh;
    min-height: 10rem;
}

#who {
    text-align: center;
}

#name {
    font-weight: 400;
    color: #001749;
}

#name span {
    font-weight: 600;
    font-size: 105%;
}

#specialties {
    margin-top: 0.5rem;
    color: #001749;
}

footer {
    text-align: center;
    font-size: 70%;
    color: #666;
    margin: 0.5rem;
}

footer > div:not(:first-child) {
    margin-top: 0.5rem;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 50rem) {
    #projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        max-width: 40rem !important;
    }
}

.project {
    position: relative;
    flex: 1 1 30%;
    min-width: 20rem;
    max-width: 30rem;
    padding: 0.7rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding-bottom: 2.1rem;
}

.project h3 {
    margin: 0.2rem 0 0.2rem 0;
    font-weight: 500;
    border-bottom: 1px #ccc solid;
}

.project p {
    margin: 0.5rem 0 0.5rem 0;
}

.project > :not(h3) {
    font-size: 90%;
}

.tag {
    font-size: 80% !important;
    background-color: #b2dbf7;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.2rem;
    display: inline-block;
    margin: 0.2rem;
}

.bottom {
    bottom: 0.5rem;
    position: absolute;
    width: calc(100% - 1.4rem);
}

.bottom span {
    bottom: 0;
    position: absolute;
    font-size: 85%;
}

.project-icon {
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
    margin-left: 0.4rem;
}

.github {
    background-image: url('/static/images/github.png');
}

.external-link {
    background-image: url('/static/images/external-link.png');
}